<ion-view view-title="Alphabets" ng-controller="AlphaCtrl">
<ion-content>

<div class="row">
          <div class="col">
            <div class="list">
            <div class="item item-divider">
              <h2 style="color:green">Latin</h2>
            </div>
          </div>
          </div>
          <div class="col">
            <div class="list">
            <div class="item item-divider">
               <h2 style="color:blue">Tifinagh</h2>
            </div>
          </div>
          </div>
          <div class="col">
            <div class="list">
            <div class="item item-divider">
               <h2 style="color:#A0522D">Prononciation</h2>
            </div>
            </div>
          </div>
          <div class="col">
            <div class="list">
            <div class="item item-divider">
               <h2 style="color:#8B008B">Exemple</h2>
            </div>
          </div>
          </div>
</div>
<div class="row"  collection-repeat="lettre in alphabets | filter:search">
          <div class="col">
            <ion-item>
               {{lettre.latin}}
            </ion-item>
          </div>
          <div class="col">
            <ion-item>
              <img src="images/{{lettre.image}}.png" style="height:15px">
            </ion-item>
          </div>
          <div class="col">
            <ion-item>
               {{lettre.Prononciation}}
            </ion-item>
          </div>
          <div class="col">
            <ion-item>
              {{lettre.exemple}}
            </ion-item>
          </div>
</div>
 </ion-content>
</ion-view>
