<ion-view view-title="Dictionnaire">
  <ion-content ng-controller="DicoCtrl">
      <div class="list list-inset">
              <label class="item item-input">
              <i class="icon ion-search placeholder-icon"></i>
              <input type="text" placeholder="Rechercher" ng-model="q" >
            </label>
      </div>
      </br>
      <ion-scroll  direction="x" class="wide-as-needed" zooming="true">
          <button class="button button-small button-assertive" ng-click="ShowA()">
            A
          </button>
           <button class="button button-small button-assertive" ng-click="ShowB()">
            B
          </button>
           <button class="button button-small button-assertive">
            C
          </button>
           <button class="button button-small button-assertive">
            D
          </button>
           <button class="button button-small button-assertive">
            E
          </button>
           <button class="button button-small button-assertive">
            F
          </button>
           <button class="button button-small button-assertive">
            G
          </button>
           <button class="button button-small button-assertive">
            H
          </button>
           <button class="button button-small button-assertive">
            I
          </button>
           <button class="button button-small button-assertive">
            J
          </button>
           <button class="button button-small button-assertive">
            K
          </button>
           <button class="button button-small button-assertive">
            L
          </button>
           <button class="button button-small button-assertive">
            M
          </button>
           <button class="button button-small button-assertive">
            N
          </button>
           <button class="button button-small button-assertive">
            O
          </button>
          <button class="button button-small button-assertive">
            P
          </button>
           <button class="button button-small button-assertive">
            Q
          </button>
           <button class="button button-small button-assertive">
            R
          </button>
           <button class="button button-small button-assertive">
            S
          </button>
           <button class="button button-small button-assertive">
            T
          </button>
           <button class="button button-small button-assertive">
            U
          </button>       
           <button class="button button-small button-assertive">
            V
          </button> 
          <button class="button button-small button-assertive">
            W
          </button> 
          <button class="button button-small button-assertive">
            X
          </button> 
          <button class="button button-small button-assertive">
            Y
          </button> 
          <button class="button button-small button-assertive">
            Z
          </button> 
      </ion-scroll></br>
       <div class="row">
          <div class="col">
            <div class="list">
            <div class="item item-divider">
              <h2 style="color:green">Francais</h2>
            </div>
          </div>
          </div>
          <div class="col col-50">
            <div class="list">
            <div class="item item-divider">
               <h2 style="color:blue">Kabyle</h2>
            </div>
          </div>
          </div>
        </div>
        <div class="row" ng-repeat="word in words | filter:q as results">
          <div class="col">
            <div class="list">
            <div class="item item-divider">
              {{word.Fr}}
            </div>
          </div>
          </div>
          <div class="col">
            <div class="list">
            <div class="item item-divider">
              {{word.kabyle1}}
            </div>
          </div>
          </div>
        </div>
  </ion-content>
</ion-view>
