<ion-view view-title="Dictionnaire">
  <ion-content>
    <div class="row">
      <div class="col">
        <ion-list>
            <ion-item ng-repeat="word in words">
               <p>{{word.kb}}:{{word.fr}} </p>
            </ion-item>
        </ion-list>
      </div>
     
     
      <div class="col">
      <ion-scroll  direction="x" class="wide-as-needed">
          <button class="button button-small button-assertive">
            Small Button
          </button>
           <button class="button button-small button-assertive">
            Small Button
          </button>
           <button class="button button-small button-assertive">
            Small Button
          </button>
           <button class="button button-small button-assertive">
            Small Button
          </button>
           <button class="button button-small button-assertive">
            Small Button
          </button>
           <button class="button button-small button-assertive">
            Small Button
          </button>
           <button class="button button-small button-assertive">
            Small Button
          </button>
           <button class="button button-small button-assertive">
            Small Button
          </button>
           <button class="button button-small button-assertive">
            Small Button
          </button>
           <button class="button button-small button-assertive">
            Small Button
          </button>
           <button class="button button-small button-assertive">
            Small Button
          </button>
           <button class="button button-small button-assertive">
            Small Button
          </button>
           <button class="button button-small button-assertive">
            Small Button
          </button>
           <button class="button button-small button-assertive">
            Small Button
          </button>
           <button class="button button-small button-assertive">
            Small Button
          </button>
          <button class="button button-small button-assertive">
            Small Button
          </button>
           <button class="button button-small button-assertive">
            Small Button
          </button>
           <button class="button button-small button-assertive">
            Small Button
          </button>
           <button class="button button-small button-assertive">
            Small Button
          </button>
           <button class="button button-small button-assertive">
            Small Button
          </button>
           <button class="button button-small button-assertive">
            Small Button
          </button>       
           <button class="button button-small button-assertive">
            Small Button
          </button>
        </div>
       
      </ion-scroll>
      <div class="col"></div>
      <div class="col"></div>
      <div class="col"></div>
    </div>   
  </ion-content>
</ion-view>

