<ion-view view-title="Accueil || Home || Akham ">
  <ion-content>
  <div style="text-align: center">
            <h2>Vocabulaire kabyle.</h2>
                En image (Kabyle | Francais | Anglais ).
        </div>
        <div style="text-align: center">
            <img src="images/icon.png" alt="">
            <p> Vous pouvez faire glisser le menu de la gauche / droite. </p>
            <img src="images/ico_swipe_right_s.png" alt="">
        </div>
	
  </ion-content>
  <div class="bar bar-footer bar-positive">
      <div class="title">Khellaf Zirem (c)</div>
    </div>
</ion-view>



