<ion-view view-title="Usan || Jours || Days">
  <ion-content>
  <div class="row">
  <div class="col">
	  <div class="col">
	  	<div  ng-init="jours =
                      [
                        { namekabyle: 'Letnayen - arim', namefrancais: 'Lundi',nameanglais: 'Monday'},
                        { namekabyle: 'Ttlata - aram', namefrancais: 'Mardi' ,nameanglais: 'Tuesday'},
                        { namekabyle: 'laṛebεa - ahad ', namefrancais: 'Mercredi',nameanglais: 'Wednesday'},
                        { namekabyle: 'lexmis - amhad', namefrancais: 'Jeudi',nameanglais: 'Thursday' },
                        { namekabyle: 'lğemεa - sem', namefrancais: 'Vendredi',nameanglais: 'Friday' },
                        { namekabyle: 'ssebt - sed', namefrancais: 'Samedi',nameanglais: 'Saturday' },
                        { namekabyle: 'lḥedd - ačer', namefrancais: 'Dimanche',nameanglais: 'Sunday' }
                      ]">               
            
            <div class="item" ng-repeat="jour in jours | filter:q as results">
                  <div class="name">
                     {{jour.namekabyle}}
                  </div></br>              
                  <div class="name2">
                    {{jour.namefrancais}}
                  </div></br>  
                  <div class="name3">
                    {{jour.nameanglais}}
                  </div> 
    		</div>
  		</div>

	</div>
	<div class="col"></div>
	<div class="col"></div>
	<div class="col"></div>
</div>
        
  </ion-content>
</ion-view>








