<ion-view view-title="Saisons">
  <ion-content>
  <div class="row">
  <div class="col">
	  <div class="col">
	  	<div  ng-init="jours =
                      [
                        { namekabyle: 'Ccetwa', namefrancais: 'Hiver',nameanglais: 'Winter', image:'Hiver'},
                        { namekabyle: 'Tafsut, eṛṛbiε', namefrancais: 'Printemps' ,nameanglais: 'Spring', image:'Printemps'},
                        { namekabyle: 'Anebdu, ṣṣif ', namefrancais: 'Été',nameanglais: 'Summer', image:'Ete' },
                        { namekabyle: 'Lexṛif', namefrancais: 'Automne',nameanglais: 'Autumn , Fall',image:'Automne' }
                      ]"> 
            <div class="item item-thumbnail-left" ng-repeat="jour in jours | filter:q as results">
                <img src="images/{{jour.image}}.png" class="thumbnail">
                  <div class="name">
                     {{jour.namekabyle}}
                  </div></br>              
                  <div class="name2">
                    {{jour.namefrancais}}
                  </div></br>  
                  <div class="name3">
                    {{jour.nameanglais}}
                  </div> 
    		</div>
  		</div>

	</div>
	<div class="col"></div>
	<div class="col"></div>
	<div class="col"></div>
</div>
        
  </ion-content>
</ion-view>
